<!DOCTYPE html>
 <html>
 <head>
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>
   <body>
   <div id= "mydiv">
 	<h1 style="color:#045FB4">Welcome to Route Planner Pro!</h1> 
 	 <p> Dear <b><%= @user.name %></b>, </p>
 	<p>You have successfully signed up.   </p>  
 	<p> <b> Username: </b> <%= @user.email %> <br />

 	<p>Plan your next route now!</p> 
 	<p>Kind Regards, <br /> 
 	<i>Andrew Rice </i></p>
 	<p style="color:#045FB4">CEO Route Planner Pro</p> 
 	
 	</div> 
   </body> 
 </html> 
