<center>
<h1>Help</h1>

<p> This application was designed to aid Heavy Goods Vehicles create a route based on the height of their vehicle.</p> <br />

<p>The map below shows a map containing every bridge location in the Republic of Ireland</p> <br />
<%= image_tag("bridge1.png", :size => "350x450") %>
   
