<h1>Help </h1>
<br>

 <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Route Planner Pro</title>


<p>The map below shows a map containing every bridge location in the Republic of Ireland</p>
<%= image_tag("bridge1.png", :size => "350x450") %>
   
 

  